<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,164}</string>
                <key>spriteSourceSize</key>
                <string>{302,164}</string>
                <key>textureRect</key>
                <string>{{319,308},{302,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>water_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,178}</string>
                <key>spriteSourceSize</key>
                <string>{329,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{329,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>water_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,196}</string>
                <key>spriteSourceSize</key>
                <string>{316,196}</string>
                <key>textureRect</key>
                <string>{{1,332},{316,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,250}</string>
                <key>spriteSourceSize</key>
                <string>{305,250}</string>
                <key>textureRect</key>
                <string>{{181,1},{305,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>water.png</string>
            <key>size</key>
            <string>{484,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:031f6786a0ae371a4df314db5c076d8c:678dfb7b97f22879172c100f8627f317:a72a08db099fa9898599289b7a5981b3$</string>
            <key>textureFileName</key>
            <string>water.png</string>
        </dict>
    </dict>
</plist>
