<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,86}</string>
                <key>spriteSourceSize</key>
                <string>{298,86}</string>
                <key>textureRect</key>
                <string>{{1256,1605},{298,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{368,167}</string>
                <key>spriteSourceSize</key>
                <string>{384,215}</string>
                <key>textureRect</key>
                <string>{{443,1799},{368,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,109}</string>
                <key>spriteSourceSize</key>
                <string>{617,109}</string>
                <key>textureRect</key>
                <string>{{919,1280},{617,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2042,440}</string>
                <key>spriteSourceSize</key>
                <string>{2042,440}</string>
                <key>textureRect</key>
                <string>{{1,1},{2042,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,267}</string>
                <key>spriteSourceSize</key>
                <string>{10,267}</string>
                <key>textureRect</key>
                <string>{{1018,922},{10,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{327,329}</string>
                <key>spriteSourceSize</key>
                <string>{329,331}</string>
                <key>textureRect</key>
                <string>{{1256,1274},{327,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,1042}</string>
                <key>spriteSourceSize</key>
                <string>{20,1042}</string>
                <key>textureRect</key>
                <string>{{1030,922},{20,1042}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{145,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,150}</string>
                <key>textureRect</key>
                <string>{{1205,1825},{145,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mounton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1277,573}</string>
                <key>spriteSourceSize</key>
                <string>{1277,573}</string>
                <key>textureRect</key>
                <string>{{443,1},{1277,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,0}</string>
                <key>spriteSize</key>
                <string>{474,517}</string>
                <key>spriteSourceSize</key>
                <string>{672,517}</string>
                <key>textureRect</key>
                <string>{{443,1280},{474,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{813,1799},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,510}</string>
                <key>spriteSourceSize</key>
                <string>{21,510}</string>
                <key>textureRect</key>
                <string>{{443,1968},{21,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,812}</string>
                <key>spriteSourceSize</key>
                <string>{68,812}</string>
                <key>textureRect</key>
                <string>{{1186,815},{68,812}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,151}</string>
                <key>spriteSourceSize</key>
                <string>{232,151}</string>
                <key>textureRect</key>
                <string>{{1052,1725},{232,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,130}</string>
                <key>textureRect</key>
                <string>{{1205,1693},{232,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,812}</string>
                <key>spriteSourceSize</key>
                <string>{139,812}</string>
                <key>textureRect</key>
                <string>{{1181,1},{139,812}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{135,812}</string>
                <key>spriteSourceSize</key>
                <string>{139,812}</string>
                <key>textureRect</key>
                <string>{{1322,1},{135,812}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,81}</string>
                <key>spriteSourceSize</key>
                <string>{183,81}</string>
                <key>textureRect</key>
                <string>{{1352,1825},{183,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,801}</string>
                <key>spriteSourceSize</key>
                <string>{132,801}</string>
                <key>textureRect</key>
                <string>{{1052,922},{132,801}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,919}</string>
                <key>spriteSourceSize</key>
                <string>{161,919}</string>
                <key>textureRect</key>
                <string>{{1018,1},{161,919}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,801}</string>
                <key>spriteSourceSize</key>
                <string>{129,801}</string>
                <key>textureRect</key>
                <string>{{1459,1},{129,801}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,293}</string>
                <key>spriteSourceSize</key>
                <string>{457,293}</string>
                <key>textureRect</key>
                <string>{{1256,815},{457,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_muban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,29}</string>
                <key>spriteSourceSize</key>
                <string>{291,29}</string>
                <key>textureRect</key>
                <string>{{443,1991},{291,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level_3.png</string>
            <key>size</key>
            <string>{1589,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:906df37f0c84667b84822b5d571956c2:11e417658eb7d2e9d18434486b831ef8:de1a0236a7326745d951ddd8fa83e9ba$</string>
            <key>textureFileName</key>
            <string>level_3.png</string>
        </dict>
    </dict>
</plist>
