<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GREEN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,95}</string>
                <key>spriteSourceSize</key>
                <string>{117,95}</string>
                <key>textureRect</key>
                <string>{{1558,769},{117,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,540}</string>
                <key>spriteSourceSize</key>
                <string>{448,540}</string>
                <key>textureRect</key>
                <string>{{1056,1},{448,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>banyuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{300,168}</string>
                <key>spriteSourceSize</key>
                <string>{300,170}</string>
                <key>textureRect</key>
                <string>{{1598,1},{300,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bashou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,222}</string>
                <key>spriteSourceSize</key>
                <string>{238,222}</string>
                <key>textureRect</key>
                <string>{{1056,778},{238,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{1625,640},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,86}</string>
                <key>spriteSourceSize</key>
                <string>{298,86}</string>
                <key>textureRect</key>
                <string>{{1537,451},{298,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gary.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{543,969},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,191}</string>
                <key>spriteSourceSize</key>
                <string>{191,191}</string>
                <key>textureRect</key>
                <string>{{1365,778},{191,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gear_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1625,502},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{325,325}</string>
                <key>spriteSourceSize</key>
                <string>{331,325}</string>
                <key>textureRect</key>
                <string>{{1056,451},{325,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moutain_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,966}</string>
                <key>spriteSourceSize</key>
                <string>{577,966}</string>
                <key>textureRect</key>
                <string>{{1,1},{577,966}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,0}</string>
                <key>spriteSize</key>
                <string>{474,517}</string>
                <key>spriteSourceSize</key>
                <string>{672,517}</string>
                <key>textureRect</key>
                <string>{{580,1},{474,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>river.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,67}</string>
                <key>spriteSourceSize</key>
                <string>{217,67}</string>
                <key>textureRect</key>
                <string>{{1296,778},{217,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>river_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,152}</string>
                <key>spriteSourceSize</key>
                <string>{258,152}</string>
                <key>textureRect</key>
                <string>{{1383,451},{258,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>river_wihte.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,27}</string>
                <key>spriteSourceSize</key>
                <string>{179,27}</string>
                <key>textureRect</key>
                <string>{{1365,971},{179,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,540}</string>
                <key>spriteSourceSize</key>
                <string>{42,540}</string>
                <key>textureRect</key>
                <string>{{1,969},{42,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,474}</string>
                <key>spriteSourceSize</key>
                <string>{473,474}</string>
                <key>textureRect</key>
                <string>{{580,520},{473,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1558,866},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taije.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{1754,640},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,270}</string>
                <key>spriteSourceSize</key>
                <string>{21,270}</string>
                <key>textureRect</key>
                <string>{{1768,1},{21,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,197}</string>
                <key>spriteSourceSize</key>
                <string>{182,197}</string>
                <key>textureRect</key>
                <string>{{1625,303},{182,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level_2.png</string>
            <key>size</key>
            <string>{1808,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c5717c56f1e4cb22e831a8ff7d334c8:04aeab3c8ccc499e1867dad4206f383a:fc91d40bd8d1b95631b7bf9fb8d80656$</string>
            <key>textureFileName</key>
            <string>level_2.png</string>
        </dict>
    </dict>
</plist>
