<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <real>-132.5</real>
    <key>angleVariance</key>
    <real>-10.9</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>endColorAlpha</key>
    <integer>1</integer>
    <key>endColorBlue</key>
    <real>0.6941176470588235</real>
    <key>endColorGreen</key>
    <real>0.6196078431372549</real>
    <key>endColorRed</key>
    <real>0.6196078431372549</real>
    <key>finishColorAlpha</key>
    <real>0.6</real>
    <key>finishColorBlue</key>
    <real>0.6</real>
    <key>finishColorGreen</key>
    <real>0.5490196078431373</real>
    <key>finishColorRed</key>
    <real>0.5490196078431373</real>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>86</integer>
    <key>finishParticleSizeVariance</key>
    <integer>33</integer>
    <key>gravityx</key>
    <integer>1558</integer>
    <key>gravityy</key>
    <integer>-2375</integer>
    <key>maxParticles</key>
    <integer>127</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.9</real>
    <key>particleLifespanVariance</key>
    <real>0.25</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <real>3.5</real>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationIsDir</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <real>-2.2</real>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <real>10.6</real>
    <key>sourcePositionVariancey</key>
    <real>0.05</real>
    <key>speed</key>
    <integer>708</integer>
    <key>speedVariance</key>
    <integer>-156</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <real>0.7058823529411765</real>
    <key>startColorGreen</key>
    <real>0.35294117647058826</real>
    <key>startColorRed</key>
    <real>0.0784313725490196</real>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>72</integer>
    <key>startParticleSizeVariance</key>
    <integer>26</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>textureFileName</key>
    <string>particle_texture.png</string>
  </dict>
</plist>