<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>annim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{206,1378},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,416}</string>
                <key>spriteSourceSize</key>
                <string>{14,416}</string>
                <key>textureRect</key>
                <string>{{574,769},{14,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,86}</string>
                <key>spriteSourceSize</key>
                <string>{298,86}</string>
                <key>textureRect</key>
                <string>{{296,1288},{298,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,60}</string>
                <key>spriteSourceSize</key>
                <string>{57,60}</string>
                <key>textureRect</key>
                <string>{{596,1256},{57,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,47}</string>
                <key>spriteSourceSize</key>
                <string>{24,47}</string>
                <key>textureRect</key>
                <string>{{255,1378},{24,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,53}</string>
                <key>spriteSourceSize</key>
                <string>{32,53}</string>
                <key>textureRect</key>
                <string>{{596,1318},{32,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,43}</string>
                <key>spriteSourceSize</key>
                <string>{36,43}</string>
                <key>textureRect</key>
                <string>{{630,1318},{36,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{153,129}</string>
                <key>spriteSourceSize</key>
                <string>{157,139}</string>
                <key>textureRect</key>
                <string>{{51,1296},{153,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,287}</string>
                <key>spriteSourceSize</key>
                <string>{339,287}</string>
                <key>textureRect</key>
                <string>{{948,769},{339,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>house_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,309}</string>
                <key>spriteSourceSize</key>
                <string>{305,309}</string>
                <key>textureRect</key>
                <string>{{1060,1110},{305,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>house_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,356}</string>
                <key>spriteSourceSize</key>
                <string>{406,356}</string>
                <key>textureRect</key>
                <string>{{590,769},{406,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>incision.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,51}</string>
                <key>spriteSourceSize</key>
                <string>{46,51}</string>
                <key>textureRect</key>
                <string>{{281,1378},{46,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>langan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,51}</string>
                <key>spriteSourceSize</key>
                <string>{525,51}</string>
                <key>textureRect</key>
                <string>{{45,769},{525,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{327,328}</string>
                <key>spriteSourceSize</key>
                <string>{331,332}</string>
                <key>textureRect</key>
                <string>{{1367,769},{327,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moutun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1697,766}</string>
                <key>spriteSourceSize</key>
                <string>{1697,766}</string>
                <key>textureRect</key>
                <string>{{1,1},{1697,766}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,0}</string>
                <key>spriteSize</key>
                <string>{474,517}</string>
                <key>spriteSourceSize</key>
                <string>{672,517}</string>
                <key>textureRect</key>
                <string>{{98,769},{474,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>river.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,67}</string>
                <key>spriteSourceSize</key>
                <string>{217,67}</string>
                <key>textureRect</key>
                <string>{{574,1187},{217,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,265}</string>
                <key>spriteSourceSize</key>
                <string>{247,265}</string>
                <key>textureRect</key>
                <string>{{793,1177},{247,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,540}</string>
                <key>spriteSourceSize</key>
                <string>{42,540}</string>
                <key>textureRect</key>
                <string>{{1,769},{42,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,50}</string>
                <key>spriteSourceSize</key>
                <string>{85,50}</string>
                <key>textureRect</key>
                <string>{{567,1376},{85,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,16}</string>
                <key>textureRect</key>
                <string>{{574,1256},{30,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,48}</string>
                <key>spriteSourceSize</key>
                <string>{110,48}</string>
                <key>textureRect</key>
                <string>{{1,1311},{110,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{206,1288},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,299}</string>
                <key>spriteSourceSize</key>
                <string>{300,299}</string>
                <key>textureRect</key>
                <string>{{1367,1098},{300,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,51}</string>
                <key>spriteSourceSize</key>
                <string>{231,51}</string>
                <key>textureRect</key>
                <string>{{334,1376},{231,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level_1.png</string>
            <key>size</key>
            <string>{1699,1428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ae44f269aae402d5aaeb7709420a4f4:8388ed01b251a5de4df4e9f92bd40f47:4551b43eb7406a3e581acea6d73b18cd$</string>
            <key>textureFileName</key>
            <string>level_1.png</string>
        </dict>
    </dict>
</plist>
