<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spider_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{213,171}</string>
                <key>spriteSourceSize</key>
                <string>{239,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{154,392},{97,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderfoot_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,224}</string>
                <key>spriteSourceSize</key>
                <string>{39,224}</string>
                <key>textureRect</key>
                <string>{{1,174},{39,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,204}</string>
                <key>spriteSourceSize</key>
                <string>{25,204}</string>
                <key>textureRect</key>
                <string>{{199,174},{25,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,160}</string>
                <key>spriteSourceSize</key>
                <string>{15,160}</string>
                <key>textureRect</key>
                <string>{{216,1},{15,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,169}</string>
                <key>spriteSourceSize</key>
                <string>{38,169}</string>
                <key>textureRect</key>
                <string>{{58,403},{38,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,192}</string>
                <key>spriteSourceSize</key>
                <string>{25,192}</string>
                <key>textureRect</key>
                <string>{{31,400},{25,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,154}</string>
                <key>spriteSourceSize</key>
                <string>{20,154}</string>
                <key>textureRect</key>
                <string>{{98,403},{20,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,201}</string>
                <key>spriteSourceSize</key>
                <string>{51,201}</string>
                <key>textureRect</key>
                <string>{{118,174},{51,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,199}</string>
                <key>spriteSourceSize</key>
                <string>{28,199}</string>
                <key>textureRect</key>
                <string>{{1,403},{28,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,134}</string>
                <key>spriteSourceSize</key>
                <string>{13,134}</string>
                <key>textureRect</key>
                <string>{{226,163},{13,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,110}</string>
                <key>spriteSourceSize</key>
                <string>{32,110}</string>
                <key>textureRect</key>
                <string>{{120,377},{32,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,227}</string>
                <key>spriteSourceSize</key>
                <string>{32,227}</string>
                <key>textureRect</key>
                <string>{{84,174},{32,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,99}</string>
                <key>spriteSourceSize</key>
                <string>{16,99}</string>
                <key>textureRect</key>
                <string>{{225,491},{16,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,103}</string>
                <key>spriteSourceSize</key>
                <string>{39,103}</string>
                <key>textureRect</key>
                <string>{{120,491},{39,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderfoot_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,221}</string>
                <key>spriteSourceSize</key>
                <string>{40,221}</string>
                <key>textureRect</key>
                <string>{{42,174},{40,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,103}</string>
                <key>spriteSourceSize</key>
                <string>{16,103}</string>
                <key>textureRect</key>
                <string>{{98,569},{16,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderfoot_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,101}</string>
                <key>spriteSourceSize</key>
                <string>{35,101}</string>
                <key>textureRect</key>
                <string>{{120,532},{35,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spiderfoot_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,216}</string>
                <key>spriteSourceSize</key>
                <string>{26,216}</string>
                <key>textureRect</key>
                <string>{{171,174},{26,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spiderfoot_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,145}</string>
                <key>spriteSourceSize</key>
                <string>{13,145}</string>
                <key>textureRect</key>
                <string>{{233,1},{13,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spider.png</string>
            <key>size</key>
            <string>{247,603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0785d068efa62ce8d8bb22da14cc28b6:90df70f08f9e2d0214166838f0aa168d:5fb58cbd36df5d5dd5c48d0242845f46$</string>
            <key>textureFileName</key>
            <string>spider.png</string>
        </dict>
    </dict>
</plist>
