<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,86}</string>
                <key>spriteSourceSize</key>
                <string>{32,86}</string>
                <key>textureRect</key>
                <string>{{1,276},{32,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,94}</string>
                <key>spriteSourceSize</key>
                <string>{49,94}</string>
                <key>textureRect</key>
                <string>{{1,225},{49,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{97,225},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,115}</string>
                <key>spriteSourceSize</key>
                <string>{128,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smallarms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,42}</string>
                <key>spriteSourceSize</key>
                <string>{15,42}</string>
                <key>textureRect</key>
                <string>{{97,251},{15,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thebelly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{1,131},{92,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thecafe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,67}</string>
                <key>spriteSourceSize</key>
                <string>{47,67}</string>
                <key>textureRect</key>
                <string>{{35,295},{47,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thethigh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,66}</string>
                <key>spriteSourceSize</key>
                <string>{26,66}</string>
                <key>textureRect</key>
                <string>{{84,295},{26,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{117,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:969b89b9960b6084e65ef2090c67eb29:29219e1cbe3bb5616d1dc6bb613efb20:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
