<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{2108,934},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,86}</string>
                <key>spriteSourceSize</key>
                <string>{298,86}</string>
                <key>textureRect</key>
                <string>{{2091,1115},{298,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2042,440}</string>
                <key>spriteSourceSize</key>
                <string>{2042,440}</string>
                <key>textureRect</key>
                <string>{{1,1},{2042,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,109}</string>
                <key>spriteSourceSize</key>
                <string>{617,109}</string>
                <key>textureRect</key>
                <string>{{1618,1631},{617,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,279}</string>
                <key>spriteSourceSize</key>
                <string>{670,279}</string>
                <key>textureRect</key>
                <string>{{1827,443},{670,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,241}</string>
                <key>spriteSourceSize</key>
                <string>{323,241}</string>
                <key>textureRect</key>
                <string>{{1618,1742},{323,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1824,448}</string>
                <key>spriteSourceSize</key>
                <string>{1824,448}</string>
                <key>textureRect</key>
                <string>{{1,443},{1824,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,196}</string>
                <key>spriteSourceSize</key>
                <string>{689,196}</string>
                <key>textureRect</key>
                <string>{{922,1468},{689,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,172}</string>
                <key>spriteSourceSize</key>
                <string>{316,172}</string>
                <key>textureRect</key>
                <string>{{2045,1},{316,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,183}</string>
                <key>spriteSourceSize</key>
                <string>{548,183}</string>
                <key>textureRect</key>
                <string>{{1613,1446},{548,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leveas_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,151}</string>
                <key>spriteSourceSize</key>
                <string>{232,151}</string>
                <key>textureRect</key>
                <string>{{2108,319},{232,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leveas_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,130}</string>
                <key>spriteSourceSize</key>
                <string>{232,130}</string>
                <key>textureRect</key>
                <string>{{2108,553},{232,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{329,333}</string>
                <key>spriteSourceSize</key>
                <string>{335,339}</string>
                <key>textureRect</key>
                <string>{{1756,1115},{329,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,1042}</string>
                <key>spriteSourceSize</key>
                <string>{20,1042}</string>
                <key>textureRect</key>
                <string>{{1,1979},{20,1042}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{145,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,150}</string>
                <key>textureRect</key>
                <string>{{2108,787},{145,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mounton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1277,573}</string>
                <key>spriteSourceSize</key>
                <string>{1277,573}</string>
                <key>textureRect</key>
                <string>{{1,893},{1277,573}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,0}</string>
                <key>spriteSize</key>
                <string>{474,517}</string>
                <key>spriteSourceSize</key>
                <string>{672,517}</string>
                <key>textureRect</key>
                <string>{{1280,893},{474,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,510}</string>
                <key>spriteSourceSize</key>
                <string>{21,510}</string>
                <key>textureRect</key>
                <string>{{815,1931},{21,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,235}</string>
                <key>spriteSourceSize</key>
                <string>{236,235}</string>
                <key>textureRect</key>
                <string>{{1943,1742},{236,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,812}</string>
                <key>spriteSourceSize</key>
                <string>{68,812}</string>
                <key>textureRect</key>
                <string>{{1,1909},{68,812}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,812}</string>
                <key>spriteSourceSize</key>
                <string>{139,812}</string>
                <key>textureRect</key>
                <string>{{1,1631},{139,812}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{135,812}</string>
                <key>spriteSourceSize</key>
                <string>{139,812}</string>
                <key>textureRect</key>
                <string>{{1,1772},{135,812}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,3}</string>
                <key>spriteSourceSize</key>
                <string>{2,3}</string>
                <key>textureRect</key>
                <string>{{1613,1631},{2,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,801}</string>
                <key>spriteSourceSize</key>
                <string>{132,801}</string>
                <key>textureRect</key>
                <string>{{815,1666},{132,801}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,919}</string>
                <key>spriteSourceSize</key>
                <string>{161,919}</string>
                <key>textureRect</key>
                <string>{{1,1468},{161,919}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,801}</string>
                <key>spriteSourceSize</key>
                <string>{129,801}</string>
                <key>textureRect</key>
                <string>{{815,1800},{129,801}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>level_4.png</string>
            <key>size</key>
            <string>{2260,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:071e66cfb71b538a7bc47d8f50d9cb17:29d2f9c63e5c908ee078e9714eae3ffe:5f342d25b3f157190a0cb88a142185e7$</string>
            <key>textureFileName</key>
            <string>level_4.png</string>
        </dict>
    </dict>
</plist>
