<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fires_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,482}</string>
                <key>spriteSourceSize</key>
                <string>{321,482}</string>
                <key>textureRect</key>
                <string>{{1,917},{321,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fires_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,488}</string>
                <key>spriteSourceSize</key>
                <string>{309,488}</string>
                <key>textureRect</key>
                <string>{{1,606},{309,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fires_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,500}</string>
                <key>spriteSourceSize</key>
                <string>{310,500}</string>
                <key>textureRect</key>
                <string>{{491,613},{310,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fires_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,510}</string>
                <key>spriteSourceSize</key>
                <string>{304,510}</string>
                <key>textureRect</key>
                <string>{{1,300},{304,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fires_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,520}</string>
                <key>spriteSourceSize</key>
                <string>{297,520}</string>
                <key>textureRect</key>
                <string>{{1,1},{297,520}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fires_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,410}</string>
                <key>spriteSourceSize</key>
                <string>{301,410}</string>
                <key>textureRect</key>
                <string>{{523,1},{301,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fires_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,429}</string>
                <key>spriteSourceSize</key>
                <string>{307,429}</string>
                <key>textureRect</key>
                <string>{{513,304},{307,429}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fires_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,465}</string>
                <key>spriteSourceSize</key>
                <string>{337,465}</string>
                <key>textureRect</key>
                <string>{{485,925},{337,465}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{992,1263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dcd12f6a8ac0d491ea5a464bde3be4d:903e6f056309b3f90557bd8dee31cafa:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
