<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bookmark_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{92,52}</string>
                <key>textureRect</key>
                <string>{{100,1},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,51}</string>
                <key>spriteSourceSize</key>
                <string>{79,51}</string>
                <key>textureRect</key>
                <string>{{343,1},{79,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,52}</string>
                <key>spriteSourceSize</key>
                <string>{76,52}</string>
                <key>textureRect</key>
                <string>{{192,1},{76,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,52}</string>
                <key>spriteSourceSize</key>
                <string>{71,52}</string>
                <key>textureRect</key>
                <string>{{270,1},{71,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmarks_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,54}</string>
                <key>spriteSourceSize</key>
                <string>{97,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bookmark.png</string>
            <key>size</key>
            <string>{423,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3609ccbb56b33874738417fee51dc28:20a744643a467464be6ba0f03be1c29f:160e5b503167d45a87f36fd2df503a93$</string>
            <key>textureFileName</key>
            <string>bookmark.png</string>
        </dict>
    </dict>
</plist>
