<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{175,1},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,69}</string>
                <key>spriteSourceSize</key>
                <string>{66,69}</string>
                <key>textureRect</key>
                <string>{{175,75},{66,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,53}</string>
                <key>textureRect</key>
                <string>{{173,147},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,120}</string>
                <key>spriteSourceSize</key>
                <string>{116,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_dow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{1,210},{75,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_dow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,28}</string>
                <key>spriteSourceSize</key>
                <string>{59,28}</string>
                <key>textureRect</key>
                <string>{{243,83},{59,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{240,1},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_fin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,30}</string>
                <key>spriteSourceSize</key>
                <string>{37,30}</string>
                <key>textureRect</key>
                <string>{{226,202},{37,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_fin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{192,202},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_fin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{78,210},{36,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_fin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,54}</string>
                <key>spriteSourceSize</key>
                <string>{29,54}</string>
                <key>textureRect</key>
                <string>{{119,116},{29,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_fin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{228,146},{29,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_fin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{259,144},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_fin_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{259,184},{31,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_fin_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{157,204},{40,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,85}</string>
                <key>spriteSourceSize</key>
                <string>{97,85}</string>
                <key>textureRect</key>
                <string>{{1,123},{97,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,113}</string>
                <key>spriteSourceSize</key>
                <string>{54,113}</string>
                <key>textureRect</key>
                <string>{{119,1},{54,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_tail_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,71}</string>
                <key>spriteSourceSize</key>
                <string>{55,71}</string>
                <key>textureRect</key>
                <string>{{100,147},{55,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_tail_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,48}</string>
                <key>textureRect</key>
                <string>{{243,48},{33,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish_tail_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{258,214},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{114,204},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{287,1},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish.png</string>
            <key>size</key>
            <string>{292,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fa560c9dd51738e10f302b694b3a0a0:52d122f22bed4144ade048355db66952:14ac73c88c3019464dc0f7ed87dc5bc2$</string>
            <key>textureFileName</key>
            <string>fish.png</string>
        </dict>
    </dict>
</plist>
